<h1>Rails Url Shortener</h1>
   <%= form_for @short_urls do |f| %>
       <%= f.label :original_url, 'Url to shorten:' %>
       <%= f.text_field :original_url %>
       <br>
       <%= f.submit %>
   <% end %>
